@import "var";

.main {
  &-experience {
    position: relative;
    background-color: #3B4956;
    padding: 60px 0 60px 0;


    &__numbers {
      white-space: nowrap;
    }

    &__plus {
      margin-top: 5px;
      font-size: 65px;
      line-height: 65px;
      opacity: 0.5;
    }

    &__inner {
      display: flex;
      align-items: center;
    }

    // .experience__left

    &__left {
      margin-right: 85px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 30px;
    }

    // .experience__title

    &__title {
      font-weight: 700;
      font-size: 65px;
      line-height: 65px;
      display: flex;
      gap: 10px;
      flex-wrap: nowrap;
    }

    // .experience__sub-title

    &__sub-title {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
    }

    // .experience__right

    &__right {
    }

    &__text {
      line-height: 30px;
      max-width: 675px;

      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
    }
  }

  &-about {
    padding: 0 30px 20px 30px;

    img {
      margin-bottom: 125px;
    }

    display: flex;

    &__doc {
      margin-right: 87px;
      max-width: 436px;
      object-fit: contain;
    }

    // .about__info

    &__info {
      margin-bottom: 125px;
    }

    // .about__title

    &__title {
      font-style: normal;
      font-size: 38px;
      line-height: 56px;
      color: #1D1717;
      margin-bottom: 19px;
    }

    &__name {
      font-size: 38px;
      line-height: 56px;
      color: #1D1717;
      margin-bottom: 36px;
    }

    // .about__text

    &__text {
      max-width: 624px;
      line-height: 30px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      color: #1D1717;
    }
  }

  &-help {
    padding: 77px 0;
    display: flex;
    background-color: #3B4956;
    // .help__info

    &__info {
      max-width: 693px;
      margin-right: 17px;
    }

    // .help__title

    &__title {
      font-size: 38px;
      line-height: 50px;
      margin-bottom: 40px;
    }

    // .help__text

    &__text {
      max-width: 470px;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
    }


    &__link {
      cursor: pointer;
      @include transition();

      &:hover {
        @include transform();
      }
    }

    &__img {
      width: 500px;
      object-fit: contain;
    }
  }

  &-spare {
    width: 100%;
    background-color: #3B4956;

    &__container {
      margin-bottom: 88px;
      margin-top: 100px;
      padding: 92px 0;
      display: flex;
      align-items: center;
      position: relative;
    }

    &__img {
      margin-right: 154px;
      height: 374px;
      z-index: 10;
      object-fit: contain;
      max-width: 600px;
      max-height: 400px;

      img {
        min-height: 350px;
        object-fit: cover;
      }

      &_back {
        position: absolute;
        top: 30%;
        left: 0;
        margin-left: -100px;
        height: 283px;
        opacity: 0.5;
        object-fit: contain;
        max-width: 400px;
        max-height: 300px;
      }
    }


    &__info {
      max-width: 500px;
      display: flex;
      flex-direction: column;
    }


    &__title {
      font-size: 38px;
      line-height: 56px;
      margin-bottom: 37px;
    }


    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 47px;
    }


    &__button {
      @include transition();
      width: 100%;
      background-color: #D82329;
      padding: 28px 22px 28px 22px;
      border-radius: 5px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;

      text-align: center;

      color: #FFFFFF;

      &:hover {
        box-shadow: 5px 5px 10px rgba(black, 0.3);
      }
    }
  }

  &-about-big {
    &__item-link {
      text-align: center;
      text-decoration-line: underline;

      color: #D82329;
    }

    &__info {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    &__img {
      flex: 1;
      display: inline-block;
      z-index: 2;
      max-width: 90%;
      max-height: 374px;
      object-fit: cover;
    }

    &__item {
      &:last-child {
        a {
          padding-bottom: 25px;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            border: 1px solid #B3B3B3;
            width: 100%;
            left: 0;
            bottom: 0;
          }
        }
      }
    }

    &__items {
      flex: 1;
      margin-right: 57px;
      min-width: 500px;

      &:last-child {
        background-color: #99191E;
      }
    }

    &__item-description {
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      color: #1D1717;
      margin-bottom: 28px;
      padding-top: 22px;
      display: flex;
      cursor: pointer;
      justify-content: space-between;
      align-items: center;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        border: 1px solid #B3B3B3;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
      }
    }

    &__mobile {
      display: none;
    }


    &__item-text {
      margin-right: 57px;
      max-width: 488px;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: #1D1717;
    }

    margin-bottom: 110px;

    &__info {
      display: flex;
    }


    &__title {
      font-size: 38px;
      line-height: 56px;
      color: $text;
      margin-bottom: 67px;
    }


  }

  &-list {
    &__description {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
    }

    // .list__item

    &__item {
    }

    // .list__line

    &__line {
      margin-top: 22px;
      margin-bottom: 22px;

      &_first {
        margin-bottom: 22px;
      }

      &_bottom {
        margin-top: 22px;
      }
    }

    // .list__text

    &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: $text;
    }

    // .list__arrow

    &__arrow {
      margin-right: 68px;
    }
  }

  &-application {

    position: relative;
    z-index: 100;
    margin-bottom: 80px;
    // .aplication__title

    &__title {
      font-size: 50px;
      line-height: 65px;
      color: #FFFFFF;
      max-width: 662px;
      margin-bottom: 1px;
    }

    // .aplication__text

    &__text {
      font-weight: 500;
      line-height: 30px;
      color: #FFFFFF;
      max-width: 522px;
      margin-bottom: 80px;
    }

    // .aplication__button

    &__button {
      @include transition();
      cursor: pointer;
      width: 371px;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      padding: 27px 97px 27px 97px;
      background-color: #D82329;
      border-radius: 5px;

      &:hover {
        background-color: #b10b00;
      }
    }
  }

  &-category {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    &__button {
      //display: flex;
      align-self: center;
      display: none;
    }

    &__top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-top: 72px;
      padding-bottom: 30px;
      width: 100%;

      h3 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        text-align: center;

        color: #1D1717;
      }

      a {
        border-radius: 5px;
        padding: 26px 32px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        border: 2px #C21C22 solid;
        color: #C21C22;
        cursor: pointer;
        @include transition();

        &:hover {
          color: #A00A00;
          background-color: #FFFFEF;
        }
      }
    }

    &__card-list {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 20px;
      //overflow: auto;

      width: 100%;
      z-index: 11;
      padding-bottom: 40px;
      position: relative;
      //-webkit-overflow-scrolling:touch;

      //&::-webkit-scrollbar {
      //  -webkit-appearance: none;
      //
      //  height: 5px;
      //  margin-right: 150px;
      //  overflow:visible;
      //
      //  min-width: 7px;
      //  width: 100%;
      //}
      //&::-webkit-scrollbar-thumb {
      //  width: 5px;
      //  border-radius: 10px;
      //  background-color: #D82329;
      //  box-shadow: 0 0 1px #D82329;
      //}
      //
      //&::-webkit-scrollbar-track {
      //  width: 5px;
      //  -webkit-box-shadow: inset 0 0 6px rgba(white, 0.9);
      //  border-radius: 10px;
      //  background-color: #D9D9D9;
      //}
    }

    &__card {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      position: relative;

      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 30px;
      color: #1D1717;
      width: 250px;
      min-width: 250px;
      z-index: 10;
      cursor: pointer;

      text-align: center;

      @include transition();

      &:hover:first-child {
        margin-left: 10px;
        @include transform();
      }

      &:hover {
        @include transform();
      }

      img {
        max-height: 250px;
        max-width: 250px;
        width: 100%;
        object-fit: contain;
      }

      p {
        position: absolute;
        bottom: 10%;
        left: 0;
        width: 100%;
        //margin-top: 30px;
        color: black;
      }
    }

    &__card-helper {
      position: relative;
      display: flex;
      justify-content: end;
      width: 100%;
      //overflow: auto;

      &__wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }

    &__card-opacity {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, transparent, white);
      z-index: -1;
    }
  }

  &__img {
    margin-bottom: 106px;
    background-image: url("../img/content1/1.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-color: rgba(black, 0.87);
    position: unset;
    width: 100%;
    height: 1152px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    top: 0;
    left: 0;
  }
}

.card-list {
  margin-bottom: 109px;
  display: flex;
  justify-content: space-evenly;

  &__item {
    padding: 0 24px;
  }
}

.item:hover {
  background-color: #99191E;
}

.item {
  @include transition();
  cursor: pointer;
  background-color: #C21C22;;
  width: 300px;

  // .item__up

  &__up {
    display: flex;
    justify-content: space-between;
  }

  // .item__logo

  &__logo {
    margin-top: 50px;
    margin-bottom: 15px;
  }

  // .item__number

  &__number {
    margin-top: 31px;
    background-color: #FFFFFF;
    padding: 0px 14px 0px 14px;
    color: #1D1717;
    font-size: 20px;
    line-height: 36px;
    width: 36px;
    height: 36px;
  }

  // .item__bottom

  &__bottom {
  }

  // .item__title

  &__title {
    font-size: 20px;
    line-height: 56px;
    margin-bottom: 5px;
  }

  // .item__text

  &__text {
    max-width: 300px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}

.main__img {
  &__container1 {
    min-width: 1200px;
    margin: 0 auto;
  }
}

.main-help {
  &__container2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 1600px) {
  .main {
    &-about-big {
      &__info {
        flex-wrap: wrap;
      }

      &__items {
        margin-bottom: 30px;
      }

      &__img {
        max-width: 570px;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 1200px) {
  .main {
    &-application {
      padding: 0 30px;
    }

    &-experience {
      padding: 60px 30px;

      &__title {
        font-size: 65px;
      }

      &__plus {
        font-size: 65px;
      }

      &__text {
        font-size: 16px;
      }
    }

    &-about {
      padding: 0 30px 20px 30px;
    }

    &-help {
      padding: 34px 0;
    }

    &-category__top {
      padding: 34px 30px 34px 0;
    }

    &-spare {
      padding: 50px 30px;

      &__img {
        margin-right: 50px;
      }
    }

    &-about-big {
      &__info {

        margin: 0 auto;

      }

      &__img {
        max-width: 460px;
      }

      padding: 0 30px;
    }
  }
  .card-list {
    padding: 0 30px;
  }
  .item {
    width: 300px;

    &__text {
      margin-bottom: 50px;
    }
  }
}
@media (max-width: 1100px) {
  .main-about-big__img {
    max-width: none;
    width: 100%;
    padding-right: 57px;

    img {
      width: 100%;
      min-width: 100px;
    }
  }
}
@media (max-width: 930px) {
  .page-padding__left {
    padding: 0;
  }
  .main {
    &-application {
      margin-bottom: 95px;
      padding: 0 5px;

      &__title {
        font-weight: 700;
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 30px;
        max-width: 400px;
      }

      &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        max-width: 400px;
      }

      &__button {
        padding: 27px 55px;
      }
    }

    &-experience {
      padding: 40px 5px;

      &__title {
        font-size: 41px;
        line-height: 64px;
      }

      &__plus {
        font-size: 41px;
        line-height: 64px;
      }

      &__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      &__left {
        gap: 40px;
        flex-direction: row;
        margin-right: 0;
        align-items: center;
      }

      &__text {
        font-size: 16px;
        line-height: 26px;
      }
    }

    &-about {
      padding: 0 5px;
      display: flex;
      flex-direction: column-reverse;

      &__doc {
        display: block;
        margin: 0 auto;
      }

      &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 26px;
      }

      &__name {
        font-weight: 600;
        font-size: 21px;
        line-height: 26px;
      }

      &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        margin: 0 auto;
      }

      &__info {
        margin-bottom: 50px;
        text-align: center;
      }

      &__name {
        margin-bottom: 26px;
      }

      img {
        margin-bottom: 80px;
      }
    }

    &-help {
      padding: 40px 5px;

      &__container2 {
        display: flex;
        flex-direction: column;
      }

      &__title {
        font-weight: 700;
        font-size: 23px;
        line-height: 36px;
        text-align: center;
      }

      &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        margin: 0 auto;
        text-align: center;
      }

      &__info {
        margin-bottom: 50px;
        margin-right: 0;
      }
    }

    &-category {
      padding: 0 5px;

      &__top {
        justify-content: center;

        a {
          display: none;
        }

        h3 {
          font-weight: 700;
          font-size: 23px;
          line-height: 36px;
        }
      }

      &__button {
        display: flex;
        margin-top: 50px;
        border-radius: 5px;
        text-align: center;
        padding: 26px 32px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        border: 2px #C21C22 solid;
        color: #C21C22;
        cursor: pointer;
        @include transition();

        &:hover {
          color: #A00A00;
          @include transform();
        }
      }

      &__card {
        img {
          margin-left: auto;
          margin-right: auto;
          align-self: center;
        }
        p {
          display: flex;
          justify-content: center;
        }

        &-helper {
          padding-left: 0;
          width: 540px;
          display: flex;
          flex-direction: column;
          align-items: center;

          &__wrapper {
            display: flex;
            justify-content: center;
            width: 100%;
          }
        }
      }
    }

    &-spare {
      &__container {
        display: block;

      }

      padding: 40px 10px;

      &__img {
        display: none;

        &_back {
          display: none;
        }
      }

      &__title {
        br {
          display: none;
        }

        max-width: 300px;
        font-weight: 700;
        font-size: 23px;
        line-height: 36px;
      }

      &__text {
        br {
          display: none;
        }

        max-width: 321px;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
      }
    }

    &-about-big {

      padding: 0 10px;
      margin-bottom: 45px;
      text-align: center;

      &__img {
        padding-right: 57px;
        min-height: 240px;
        object-fit: cover;
      }


      &__list {
        display: none;

        &_mobile {
          display: block;
          margin-bottom: 30px;
        }
      }

      &__title {
        font-weight: 700;
        font-size: 23px;
        line-height: 36px;
        margin-bottom: 40px;
        text-align: center;
      }
    }

    &-list {
      &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
      }

      &__description {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;
      }

      &__line {
        margin-top: 11px;
        margin-bottom: 11px;
      }

      &__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        text-underline-offset: 4px;
        text-decoration-line: underline;
        color: #D82329;
      }
    }
  }
  .card-list {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .item {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .main-application{
    &__title {
      max-width: none;
      width: 100%;
      text-align: center;
    }
    &__text {
      max-width: none;
      width: 100%;
      text-align: center;
    }
    &__button-wrapper {
      width: 100%;
      text-align: center;
    }
  }
  .main-about-big {
    &__item-description {
      cursor: default;
    }

    &__info {
      //padding: 0;
      padding-right: 15px;
    }

    &__img {
      object-position: left;
      padding: 0;
      margin: 30px auto 0;
      width: 100%;
    }

    &__items {
      display: none;
    }

    &__item {
      margin-bottom: 22px;
      width: 100%;
    }

    &__item {
      &:last-child {
        a {
          padding-bottom: 25px;
          position: relative;
          width: 100%;

          &::after {
            content: '';
            position: absolute;
            border: 1px solid #ffffff;
            left: 0;
            bottom: 0;
          }
        }
      }
    }

    &__item-description {
      margin-bottom: 16px;
    }

    &__mobile {
      display: block;
    }
  }
  .main-about {
    &__title {
      font-size: 23px;
    }
  }
  .main-category {
    &__card-helper {
      padding-left: 0;
      width: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .main-help__img {
    max-height: 280px;
    min-height: 280px;
    min-width: 280px;
  }
  .main-experience__left {
    gap: 8vw;
    flex-wrap: wrap;
  }
  .main-experience__text {
    text-align: center;
  }
  .main-spare__info {
    max-width: none;
  }
  .main-spare__title {
    text-align: center;
    max-width: none;
  }
  .main-spare__text {
    text-align: center;
    max-width: none;
  }
}
