.product-about-wrapper {
  color: black;
  padding-bottom: 40px;

  &__name {
    display: flex;
    width: 100%;
    margin-bottom: 100px;
  }

  &__img {
    margin-right: 73px;
    max-width: 700px !important;
    max-height: 400px !important;
    object-fit: cover;
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__img,
  &__images-list-img,
  &__document img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  &__info {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 36px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 48px;
  }

  &__button {
    background-color: #D82329;
    padding: 20px 77px 20px 77px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    border-radius: 5px;
    display: block;
    max-width: 329px;
    text-align: center;
    white-space: nowrap;
  }

  &__images-list {
    gap: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 53px;
  }

  &__document {
    padding: 0 10px;
  }

  &-image {
    width: 48%;
    height: 48%;
    object-fit: fill;
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

}


@media (max-width: 1200px) {
  .product-about-wrapper {
    &__images-list {
      margin-bottom: 26px;
      padding: 0 20px;
      grid-template-columns: repeat(1, 1fr);
    }

    &__name {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      padding: 0 20px;
    }

    &__img {
      margin-bottom: 50px;
      margin-right: 0;
    }

    &__info {
      margin-bottom: 30px;
      max-width: 100%;
      padding: 0px 50px;
      align-items: center;
    }

    &__title {
      font-size: 50px;
      max-width: 1140px;
    }

    &__text {
      font-size: 20px;
    }
  }
}


@media (max-width: 7000px) {
  .product-about-wrapper {
    &__title {

      font-size: 40px;

    }

    &__name {
      display: flex;
      margin-bottom: 40px;
    }

    &__button {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 600px) {
  .product-about-wrapper {
    &-image {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

@media (max-width: 360px) {
  .product-about-wrapper {
    &__title {
      font-size: 23px;
    }

    &__button {
      padding: 20px 70px;
    }
  }
}