.spare-parts-page{
    color: rgb(0, 0, 0);
    &__top{
        display: flex;
    }
    &__input{
        padding:  26px 295px 26px 73px;
        display: flex;
        input{
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            outline:none;
        }
        margin-right: 26px;
    }
    &__filter{
        svg{
            margin-right: 21px;
        }
        display: flex;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        padding: 26px 240px 26px 240px;
        background-color: #D82329;;
    }
    &__{}

}

.table{

    &__card{
        margin: 60px 0px;
    }
    
}
