@import "var";
@import "index";
@import "product-information";
@import "product-catalog";

/*----------------------------------------*/
.header {
  z-index: 10;
  margin-bottom: -173px;
  padding-top: 55px;
  // .header__inner
  &__square
  &__inner {
    display: flex;
  }

  // .header__menu

  &__menu {
    display: flex;
    align-items: center;
    margin-bottom: 37px;
  }

  // .header__menu-logo

  &__menu-logo {
    font-size: 30px;
    line-height: 37px;
    margin-right: 81px;
    cursor: pointer;
    @include transition();

    &:hover {
      @include transform();
    }
  }

  // .header__menu-text

  &__menu-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-right: 137px;
    max-width: 250px;
    cursor: pointer;
    @include transition();

    &:hover {
      @include transform();
    }
  }

  // .header__menu-mail

  &__menu-mail {
    color: #FFFFFF;

    svg {
      margin-right: 20px;
    }

    display: flex;
    align-items: center;
    font-weight: 400;
    line-height: 24px;
    margin-right: 80px;
    cursor: pointer;
    @include transition();

    &:hover {
      @include transform();
    }
  }


  &__menu-phone {
    svg {
      margin-right: 20px;
    }

    img {
      height: 42px;
      margin-right: 19px;
    }

    display: flex;
    align-items: center;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    @include transition();

    &:hover {
      @include transform();
    }
  }

  // .header__sub-menu

  &__sub-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
  }

  // .header__sub-menu-logo

  &__sub-menu-logo {
  }

  // .header__sub-menu-item

  &__sub-menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    @include transition();

    &:hover {
      @include transform();
    }
  }

  &__sub-menu-item-square {
    display: flex;
    flex-direction: column;
    @include transition();

    &:hover {
      @include transform();
    }
  }

  // .header__link

  &__link {
  }

  // .header__line

  &__line {
  }

  // .header__menu-item

  &__menu-item {

  }
}

.sub-menu-item-square {
  &__title {
    display: flex;
    align-items: center;
    line-height: 30px;

    img {
      margin-right: 17px;
    }
  }
}

/*----------------------------------------*/
.footer {
  color: $text;

  a {
    color: $text;
  }

  margin-bottom: 89px;
  // .header__inner

  &__inner {
  }

  // .header__menu

  &__menu {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  // .header__menu-logo

  &__menu-logo {
    font-size: 30px;
    line-height: 37px;
    margin-right: 81px;
  }

  // .header__menu-text

  &__menu-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-right: 137px;
    max-width: 250px;

  }

  // .header__menu-mail

  &__menu-mail {
    color: #FFFFFF;

    img {
      height: 42px;
      margin-right: 19px;
    }

    display: flex;
    align-items: center;
    font-weight: 400;
    line-height: 24px;
    margin-right: 80px;
  }

  // .header__menu-phone

  &__menu-phone {
    img {
      height: 42px;
      margin-right: 19px;
    }
    display: flex;
    align-items: center;
    font-weight: 400;
    line-height: 24px;
  }

  // .header__sub-menu

  &__sub-menu {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 16px;
  }

  // .header__sub-menu-logo

  &__sub-menu-logo {
  }

  // .header__sub-menu-item

  &__sub-menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
  }

  // .header__link

  &__link {
  }

  // .header__line

  &__line {
  }

  // .header__menu-item

  &__menu-item {
  }
}

/*----------------------------------------*/



@media (max-width: 900px) {


  .header {
    &__menu {


    }

    &__sub-menu {


    }
  }

}
