<section class="main-about-big page-padding__left">
    <div class="main-about-big__title">
        Больше о компании
    </div>
    <div class="main-about-big__info">
        <ul class="main-about-big__list main-list">
            <li class="main-list__item">
                <div class="main-list__line_first">
                    <svg width="647" height="2" viewBox="0 0 647 2" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1H647" stroke="#B3B3B3"/>
                    </svg>
                </div>
                <div class="main-list__description">
                    <div class="main-list__text"> Поставка оборудования для струйной цементации
                        «JET-GROUTING», цементациии и бурения
                    </div>
                    <div class="main-list__arrow">
                        <svg width="34" height="17" viewBox="0 0 34 17" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M26 16.8784L34 8.75461L26 0.630859L24.575 2.05252L30.175 7.73915H18V9.77008H30.175L24.575 15.4567L26 16.8784Z"
                                  fill="#D82329"/>
                            <rect y="7.73926" width="18" height="2.03094" fill="#D82329"/>
                        </svg>
                    </div>
                </div>

            </li>
            <li class="main-list__item">
                <div class="main-list__line">
                    <svg width="647" height="2" viewBox="0 0 647 2" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1H647" stroke="#B3B3B3"/>
                    </svg>
                </div>
                <div class="main-list__description">
                    <div class="main-list__text"> История компании Tecniwell</div>
                    <div class="main-list__arrow">
                        <svg width="34" height="17" viewBox="0 0 34 17" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M26 16.8784L34 8.75461L26 0.630859L24.575 2.05252L30.175 7.73915H18V9.77008H30.175L24.575 15.4567L26 16.8784Z"
                                  fill="#D82329"/>
                            <rect y="7.73926" width="18" height="2.03094" fill="#D82329"/>
                        </svg>
                    </div>
                </div>

            </li>
            <li class="main-list__item">
                <div class="main-list__line">
                    <svg width="647" height="2" viewBox="0 0 647 2" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1H647" stroke="#B3B3B3"/>
                    </svg>
                </div>
                <div class="main-list__description">
                    <div class="main-list__text"> Компетенция компании Tecniwell</div>
                    <div class="main-list__arrow">
                        <svg width="34" height="17" viewBox="0 0 34 17" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M26 16.8784L34 8.75461L26 0.630859L24.575 2.05252L30.175 7.73915H18V9.77008H30.175L24.575 15.4567L26 16.8784Z"
                                  fill="#D82329"/>
                            <rect y="7.73926" width="18" height="2.03094" fill="#D82329"/>
                        </svg>
                    </div>
                </div>

            </li>
            <li class="main-list__item">
                <div class="main-list__line">
                    <svg width="647" height="2" viewBox="0 0 647 2" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1H647" stroke="#B3B3B3"/>
                    </svg>
                </div>
                <div class="main-list__description">
                    <div class="main-list__text"> Компетенция компании Tecniwell</div>
                    <div class="main-list__arrow">
                        <svg width="34" height="17" viewBox="0 0 34 17" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M26 16.8784L34 8.75461L26 0.630859L24.575 2.05252L30.175 7.73915H18V9.77008H30.175L24.575 15.4567L26 16.8784Z"
                                  fill="#D82329"/>
                            <rect y="7.73926" width="18" height="2.03094" fill="#D82329"/>
                        </svg>
                    </div>
                </div>

            </li>
            <div class="main-list__line_bottom">
                <svg class="" width="647" height="2" viewBox="0 0 647 2" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 1H647" stroke="#B3B3B3"/>
                </svg>
            </div>
        </ul>
        <ul class="main-about-big__list_mobile">
            <li class="main-list__item">
                <div class="main-list__line_first">
                    <svg width="100%" height="2" viewBox="0 0 647 2" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1H647" stroke="#B3B3B3"/>
                    </svg>
                </div>
                <div class="main-list__description">
                    <div class="main-list__text"> Поставка оборудования для струйной цементации
                        «JET-GROUTING», цементациии и бурения
                    </div>
                    <a href="" class="main-list__link"> Подробнее</a>
                </div>
            </li>
            <li class="main-list__item">
                <div class="main-list__line">
                    <svg width="100%" height="2" viewBox="0 0 647 2" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1H647" stroke="#B3B3B3"/>
                    </svg>
                </div>
                <div class="main-list__description">
                    <div class="main-list__text"> История компании Tecniwell</div>
                    <a href="" class="main-list__link"> Подробнее</a>
                </div>

            </li>
            <li class="main-list__item">
                <div class="main-list__line">
                    <svg width="100%" height="2" viewBox="0 0 647 2" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1H647" stroke="#B3B3B3"/>
                    </svg>
                </div>
                <div class="main-list__description">
                    <div class="main-list__text"> Компетенция компании Tecniwell</div>
                    <a href="" class="main-list__link"> Подробнее</a>
                </div>

            </li>
            <li class="main-list__item">
                <div class="main-list__line">
                    <svg width="100%" height="2" viewBox="0 0 647 2" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1H647" stroke="#B3B3B3"/>
                    </svg>
                </div>
                <div class="main-list__description">
                    <div class="main-list__text"> Компетенция компании Tecniwell</div>
                    <a href="" class="main-list__link"> Подробнее</a>
                </div>
            </li>
        </ul>

        <div class="main-about-big__img">
            <img src="../img/big_about/01.png" alt="">
        </div>
    </div>
</section>