<section class="main-spare page-padding">
  <div class="main-spare__container">
    <img class="main-spare__img_back" src="img/spare/01.png" alt="">
    <img class="main-spare__img"src="img/spare/01.png" alt="">
    <div class="main-spare__info">
      <div class="main-spare__title">Запасные части <br>
        и расходные<br>
        материалы
      </div>
      <div class="main-spare__text">Компания «Буровые технологии» представляет Вашему
        вниманию каталог запасных частей и расходных
        материалов, доступных к заказу
      </div>
      <a class="main-spare__button" href="">Перейти в каталог запчастей</a>

    </div>
  </div>
</section>